{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Witaj Użytkowniku!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}" role="button">ZAREJESTRUJ SIĘ!</a></p>
    </div>
{% endblock %}

